html, body, input {
	font-family: Georgia, Tahoma, Arial, sans-serif;
	margin: 0;
	padding: 0;
}

body {
	background: #302F31;
	padding: 10px;
}

form {
	margin: 15px 0;
}


#msg_username {
	font-family: monospace;
	font-size: large;
	border: 2px solid #eb5424;
	border-radius: 5px;
	padding: 5px;
	margin-bottom: 5px;
	width: 25%;
}

form input[type='text'] {
	font-family: monospace;
	font-size: large;	
	border: 2px solid #eb5424;
	border-radius: 5px;
	padding: 5px;
	width: 60%;
}

form input[type='submit'] {
	background: #eb5424;
	border: none;
	border-radius: 5px;
	color: #FFF;
	cursor: pointer;
	font-weight: bold;
	padding: 7px 5px;
	width: 20%;
}

#imagebutton {
	width: 32px;
	height: 32px;
	position: relative;
	top: 10px;
}

#history {
	font-family: monospace;
	font-size: large;
	background: #FFF;
	border: 2px solid #eb5424;
	height: 550px;
	overflow-y: auto
}



/* Popup DIV for images, hidden by default */
.PopupDIV {
	display: none;
	position: fixed;
	bottom: 0;
	right: 15px;
	border: 3px solid #000000;
	z-index: 9;
	background: #BBBBBB;
	width: 70px;
}


